h1{
  color: white; 
  font-size: 350%;
  padding: 15px;
  text-align: center;
}

body{
  background-color:#1e2529;
}


.header{
    background-color: skyblue;
    padding: 10px;
   
}

 ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:slategrey;

}
  
   li {
  float: left;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  }
  
  li {
    float: left;
    }
    
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    }
    
    li a:hover {
    background-color: black;
    }
    
    
      nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:slategrey;
    }

  .blogs{
    font-size: 110%;
  }

  a{
    color: #87ceeb;
    }
  

  p{
    font-size:120%;
    color: white;
    background-color: slategrey;
    text-align: center;
   
  }

  pre{
    color:white;
    font-size: 145%;
    background-color: slategrey;
  }


  h2{
    color: white; 
    font-size: 1;
    text-align: center;
  }

  
  