
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:slategrey;
  color: black;
  text-align: left;
}
  
.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease-in-out;
  color: black;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: black;
}

.facebook{
 padding: 5px;
 width: 35px;
 text-align:left;
 text-decoration: none;
}

.facebook:hover {
 opacity: 0.7;
}

.facebook{
 color:black;
}





.instagram{
  padding: 5px;
  width: 35px;
  text-align:left;
  text-decoration: none;
 }
 
 .instagram:hover {
  opacity: 0.7;
 }
 
 .instagram{
  color:black;
 }
 
  


 .twitter{
  padding: 5px;
  width: 35px;
  text-align:left;
  text-decoration: none;
 }
 
 .twitter:hover {
  opacity: 0.7;
 }
 
 .twitter{
  color:black;
 }
    



 .email{
  padding: 5px;
  width: 35px;
  text-align:left;
  text-decoration: none;
 }
 
 .email:hover {
  opacity: 0.7;
 }
 
 .email{
  color:black;
 }




 .pintrest{
  padding: 5px;
  width: 35px;
  text-align:left;
  text-decoration: none;
 }
 
 .pintrest:hover {
  opacity: 0.7;
 }
 
 .pintrest{
  color:black;
 }





 .whatsapp{
  padding: 5px;
  width: 35px;
  text-align:left;
  text-decoration: none;
 }
 
 .whatsapp:hover {
  opacity: 0.7;
 }
 
 .whatsapp{
  color:black;
 }








 